/**
 *  alt-content.scss
 *
 *
 */

@import './vars.scss';

.alt-content {
  color: $white;
  padding-top: 100px;
  padding-left: 15px;
  @include breakpoint(min-width, 768px) {
    margin-left: 220px;
    padding-top: 0;
  }
  a {
    color: $white;
  }
  h3 {
    margin-bottom: 5px;
  }
  dl {
    margin-top: 0;
  }
  dt {
    color: $red;
    @include breakpoint(min-width, 768px) {
      float: left;
      width: 100px;
    }
  }
  dd {
    margin: 0;
  }
}
.alt-content__inner {
  padding-bottom: 2rem;
}
.alt-content__item {
  margin-bottom: 2rem;
}
