/**
 *  panel--right.scss
 *
 *
 */

@import './vars.scss';

.panel--right {
  position: fixed;
  z-index: 2;
  top: 0;
  left: auto;
  bottom: 0;
  right: 0;
  width: 20%;
  min-width: 200px;
  height: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  a {
    color: $white;
  }
  dl {
    margin-top: 0;
    margin-bottom: 0.6rem;
  }
  img {
    max-width: 100%;
    max-height: 200px;
  }
  .panel__bg {
    background-color: darken($red, 38);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.80;
  }
  .panel__inner {
    height: auto;
    bottom: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    z-index: 2;
    @include breakpoint(min-width, 768px) {
      padding: 0 15px;
      position: absolute;
      bottom: 0;
      z-index: 2;
      top: 15px;
      left: 0;
      right: 0;
      width: auto;
      height: auto;
    }
  }
  &.hidden {
    pointer-events: none;
    opacity: 0;
  }
  .button--close {
    position: absolute;
    z-index: 3;
    top: auto;
    right: auto;
    bottom: 15px;
    left: 15px;
  }
}

