/**
 *  panel--left.scss
 *
 *
 */

@import './vars.scss';

.panel--left {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: auto;
  width: 100%;
  height: auto;
  padding: 15px 0 15px 0;
  background-color: $black;
  border-bottom: solid 1px $white;
  @include breakpoint(min-width, 768px) {
    border-bottom: none;
    width: 210px;
    height: 125px;
    padding-top: 20px;
    background-color: transparent;
  }
  a {
    color: $red;
    &:hover {
      color: $red;
    }
  }
  .panel__inner {
    height: auto;
    bottom: auto;
    position: relative;
    z-index: 2;
    padding: 0 15px;
    @include breakpoint(min-width, 768px) {
      padding: 0;
      position: absolute;
      bottom: 0;
      z-index: 2;
      top: 15px;
      left: 0;
      right: 0;
      width: auto;
      height: auto;
    }
  }
  .title {
    color: $white;
    @include breakpoint(min-width, 768px) {
      position: absolute;
      z-index: 2;
      left: 20px;
      padding: 0 20px 0 0;
    }
    h1 {
      font-size: 30px;
      line-height: 1.1;
      margin: 0;
    }
    p {
      margin-top: 0.3rem;
      margin-bottom: 0;
      @include breakpoint(min-width, 768px) {
        margin-top: 10px;
      }
    }
  }
}
