<div class="alt-content">
  <section>
    <div class="alt-content__inner">
      {% for item in items %}
        <div class="alt-content__item">
          <h3>{{ item.title }}</h3>
          <dl>
            <dt>Object name</dt>
            <dd>{{ item.object_name }}</dd>
            <dt>Artist</dt>
            <dd>{{ item.artist_display_name }}</dd>
            <dt>Date</dt>
            <dd>{{ item.object_end_date }}</dd>
            <dt>Medium</dt>
            <dd>{{ item.medium }}</dd>
            <dt>Link</dt>
            <dd><a href="{{ item.link_resource }}" target="_blank">{{ item.link_resource }}</a></dd>
          </dl>
        </div>
      {% endfor %}
    </div>
  </section>
</div>
