<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="google-site-verification" content="dOPh2dML9YgOuy9x3_HTCZT39RlNEOWhosO0NIG_kts" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ app.title }} | Metropolitan Museum of Art Open Access database exploration</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <meta property="og:url" content="https://met-graph-modern.red-deleon.com" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Metropolitan Museum of Art Open Access database exploration" />
  <meta property="og:description" content="Metropolitan Museum of Art Open Access database exploration" />
  <meta property="og:image" content="https://met-graph-modern.red-deleon.com/img/met-graph-modern-4-thumb.png" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="Metropolitan Museum of Art Open Access database exploration">
  <meta name="twitter:creator" content="Red de Leon">
  <meta name="twitter:title" content="Metropolitan Museum of Art Open Access database exploration">
  <meta name="twitter:description" content="Metropolitan Museum of Art Open Access database exploration">
  <meta name="twitter:image" content="https://met-graph-modern.red-deleon.com/img/met-graph-modern-4-thumb.png">
  <meta name="twitter:image:alt" content="https://met-graph-modern.red-deleon.com/img/met-graph-modern-4-thumb.png">

  <link rel="preconnect" href="https://fonts.gstatic.com"> 
  <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
</head>
<body 
  id="body" 
  data-source-json="{{ app.sourceJSON }}" 
  data-source-json-subset="{{ app.sourceJSONSubset }}"
  data-data-timestamp="{{ app.dataTimestamp }}">
  <div id="graph"></div>
  {% include './panel-left.twig' with app %}
  {% include './panel-right.twig' %}
  {% include './analytics.twig' %}
  <noscript>
    {% include './alt-content.twig' with { items: items } %}
  </noscript>
</body>
</html>
