<div class="panel panel--left">
  <div class="panel__bg"></div>
  <div class="panel__inner">
    <div class="title">
      <h1>{{ title }}</h1>
      <p>{{ description }}</p>
    </div>
  </div>
</div>